@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma|Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Oxygen';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';


body {
  font-family: 'Open Sans Condensed', sans-serif;
  /*background-image: url(images/backgroundpaper.jpg);*/
}


#navbar {
  background:white;
  opacity: 0.5;

}

#navbar li a {
  font-weight: bolder;
  color: black;
}



#home {
  background: url(images/home.jpg) 50% 0 repeat fixed;
  min-height: 800px;
  height: 800px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  /*margin-bottom: 5px;*/
  /*border-bottom: 1px;*/
  /*border-radius: 0.5em;*/
  position: relative;
  /*opacity: 0.7;*/
}

#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 280px;
  width: 100%;
}



.homediv {


}

.headname {
  color: darkblue;
  font-size: 40px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  text-align: center;
  text-transform: uppercase;
  /*text-shadow: 3px 3px white;*/
}

.headname {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.headname:hover,
.headname.glow {
    text-shadow: 0 0 15px red;
}


.scrolltext {
  color: darkblue;
  height: 30px;
  font-size: 20px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px white;

}


.protitle {
  font-size: 30px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  text-align: center;
  color: darkblue;
  text-transform: capitalize;
}

.quotation {
  height: 40px;

}


.heading, .p1{
  font-size: 25px;
  color: azure;
}


.morebutton {
  width: 150px;
  height:50px;
  margin: 0 auto;
  font-size: 20px;
  background-color: white;
  opacity: 0.7;
  border: 0;
  color: blue;
  padding: 10px 10px;
}

.morebutton:hover {
     background: gold;
     color: gold;
     text-decoration: none;
}

.aboutposter {
  /*background: url(images/aboutposter.jpg) 50% 0 repeat fixed;*/
  background: grey;
  min-height: 100px;
  height: 100px;
  margin: 0 auto;
  width: 100%;
}

.aboutposter img {
  height: 50px;
  width: 50px;
  margin-left: 210px;
  margin-top: 20px;
  border-radius: 1em;
}

.aboutposter img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}




#aboutme {
  background: url(images/about.jpg) 50% 0 no-repeat fixed;
  min-height: 800px;
  height: 800px;
  margin: 0 auto;
  /*border-top: 40px solid #C7EBF3;*/
  width: 100%;

  /*border-radius: 0.5em;*/
  max-width: 1920px;

  /*margin-bottom: 20px;*/
  position: relative;
  /*margin-bottom: 30px;*/
}

.aboutphani {

  color: black;
  /*font-family: 'Permanent Marker', cursive;*/
  /*text-decoration: underline;*/
  font-size: 30px;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
  left: 30%
}

.aboutpic {
  margin-top: 60px;
  float: right;
  margin-right: 200px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#aboutdescription {
  margin-left: 100px;
  box-sizing: border-box;
  background: black;
  opacity: 0.7;
  padding: 8px;
  border-radius: 1em;

  width: 600px;
  color: floralwhite;
  font-size:19px;
  /*font-family: fantasy;*/
  margin-top: 60px;
  text-align: justify;
}

.contactdetails p {
  margin-left: 50px;
  font-size:20px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}



.technologies {
  padding: 10px;
  margin-top: 150px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);

}

.technologies img {
  /*margin: 5px;*/
  padding: 10px;
}

.technologies img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}


.projectposter {
  /*background: url(images/sectionprojects.jpg) 50% 0 repeat fixed;*/
  background: black;
  min-height: 200px;
  height: 200px;
  margin: 0 auto;
  /*border-top: 40px solid #C7EBF3;*/
  width: 100%;
}

#displayheadposter {
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  padding: 10px;
  font-size: 19px;
  color: honeydew;
  text-align: center;

}

#quote {
  margin-top: 20px;
  padding: 20px;
  color: honeydew;
  font-size: 25px;
  /*font-style: italic;*/
  font-family: 'Lobster', cursive;
  /*font-weight: bold;*/
  text-align: center;
}

#author {
  /*padding: 20px;*/
  color: honeydew;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#projects {
  /*background: url(images/projects.jpg) 50% 0 repeat fixed;*/
  /*background: #C7EBF3;*/
  opacity: 0.7;
  min-height: 800px;
  height: 800px;
  margin: 0 auto;
  /*border-top: 40px solid #C7EBF3;*/
  width: 100%;
  max-width: 1920px;
  /*margin-bottom: 30px;*/
  position: relative;
}

#projects h3 {
  color: black;
  /*font-family: 'Permanent Marker', cursive;*/
  font-size: 30px;
  /*height: 458px;*/
  /*position: absolute;*/
  font-weight: bold;

  text-align: center;
  top: 10px;
  /*width: 100%;*/
}

.projects {
  height: 150px;
  width: 150px;
  border-radius: 1em;
}


.projects:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.row {
  margin-top: 50px;
  margin-left: 110px;

}

.addTooltip
{
  margin-top: 50px;
  height: 200px;
  width: 600px;
  margin-left: 25%;
  margin-right: 30%;
  /*background-color: ghostwhite;*/
  /*opacity: 0.5;*/
  border-radius: 1em;
  padding: 5px;
}

#tooltip {
  text-align: center;
  color: black;
  font-size: 19px;
  /*font-weight: bold;*/
  /*font-style: italic;*/
}

.resume {
  text-align: center;
  margin-top: 10px;
}

.resume img {
  height: 50px;
  width: 100px;
}

.contactposter {
  background: url(images/contactposter.jpg) 50% 0 repeat fixed;
  /*background: black;*/
  min-height: 200px;
  height: 200px;
  margin: 0 auto;
  /*border-top: 40px solid #C7EBF3;*/
  width: 100%;
}

#contact {
  /*padding-top: 30px;*/
  /*background: url(images/contact.jpg) 50% 0 no-repeat fixed;*/
  background: black;
  min-height: 600px;
  height: 600px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#contact article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;

}

#contactlogos {
  text-align: center;
  margin: 35px 0;
}

.contactlogo {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
}

.contactlogo:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.contactdetails p {
  margin-top: 10%;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: white;

}

.footer {
  color: white;
  position: absolute;
  bottom: 10%;
  margin-left: 45%;
  margin-right: 45%;
}

.footer p {
  font-size: 15px;
  font-weight: bold;

}
